.container {
  margin-top: 100px;
  padding: 70px 30px;
  border-radius: 24px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 46px 130px rgba(0, 0, 0, 0.15);
}

.container > h2 {
  margin: 0 0 12px;
  font-size: 36px;
  font-weight: 600;
}

.container > h3 {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
}
