.form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.form > .input,
.form > .button {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
}

.form > .button {
  font-weight: 600;
}

.form > h4 {
  margin: 22px 0;
}
